.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    /* display: inline; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 65, 66);
    
      
    }
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: rgb(0, 84, 93);
    }

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.title {
    font-size: xx-large;
    color: rgb(0, 65, 66);
    font-family: "Pacifico", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', serif;
    letter-spacing: 2px;
  }
  
